@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #333;
  color: 222;
  /* only hides the scroll bar on the x-axis.  */
  overflow-x: hidden;
  margin: 0%;
}

.container {
  background-color: #fafafa;
  /* page will rotate from the left as opposed to the center of the page. */
  transform-origin: top left;
  /* adding a transition for the rotation so it doesn't happen instantly. */
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  /* creates the half circle on the top left by placing half of the circle out of the screen.*/
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #79dff8;
  height: 200px;
  width: 200px;
  /* creates the circle. */
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  font-size: 26px;
  color: rgb(248, 231, 231);
  border: 0;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  /* adding transition to the button as well. Page was the only element with this transform. */
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  /* will bring the nav items to their original place*/
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  /* li's after initial li will stick out 15 pixels */
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  /* third li */
  margin-left: 30px;
  transform: translateX(-200%);
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}
